<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Student Tool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B747BED1F40198F00B653EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B747C041F40198F00B653EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B747C0F1F40198F00B653EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
